<app-toolbar title="League details" />

<app-form-container>

  <form (ngSubmit)="submit()" [formGroup]="form" novalidate fxLayout="column" fxLayoutAlign="space-around"
    fxLayoutGap=10px>

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      <mat-error>Name required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>URL</mat-label>

      <input matInput formControlName="url">
      <mat-hint>A fully formed URL with http/https</mat-hint>
      <mat-error>Valid URL required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        @for (type of leagueTypes; track type) {
        <mat-option [value]="type">
          {{ type }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Level</mat-label>

      <mat-select formControlName="level">
        @for (level of leagueLevels; track level) {
        <mat-option [value]="level">
          {{ level }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button mat-flat-button type="button" (click)="selectFixtures()">Select Events</button>
    {{selectedFixtureIds.length}} fixtures selected
    <mat-divider></mat-divider>
    <br>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <button type="submit" [disabled]="form.invalid || (!form.dirty && !eventsEdited)" mat-flat-button type="submit"
        aria-label="submit">Save</button>
    </div>

  </form>
</app-form-container>