

$search-field-height: 60px;
$button-width: 50px;
$icon-size: 35px;

:host {
   position: relative;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-end;
   width: $button-width;
   height: $search-field-height;
}

.mat-search_field {
   position: absolute;
   z-index: 1;
   padding: 0 $button-width 0 0;
   background: white;
   height: $search-field-height;
}

// icon style for enclosing span
.mat-search_icons {
   display: block;
   margin: 0;
   padding: 0;
   position: absolute;
   top: 0;
   left: 0;

   &:hover {
      cursor: pointer;
   }

   // icon styles for closed and search
   .mat-search_icon-close,
   .mat-search_icon-search {
      font-size: $icon-size;
      transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      position: absolute;
      top: calc(($search-field-height - $icon-size) / 2);
      left: calc(($button-width - $icon-size) / 2);
      width: $icon-size;
      height: $icon-size;
      z-index: 2;
      border-radius: 50%;
   }

   .mat-search_icon-close,
   &.mat-search_icons--active .mat-search_icon-search {
      opacity: 0;
      transform: rotate(225deg);
   }

   &.mat-search_icons--active .mat-search_icon-close {
      opacity: 1;
      z-index: 3;
      visibility: visible;
      transform: rotate(360deg);
   }
}