

mat-card {
   width: 100%;
    max-width: 500px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: var(--mat-sys-surface)
 }

.screen-bg {
    background-color: var(--mat-sys-surface-container-low)
 }

 .error {
    color: var(--mat-sys-error);
 }