@use '@angular/material' as mat;

.row {
   display: flex;
   gap: 110px;
   justify-content: flex-start;
   align-items: center;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 18px;
}

.text {
   font: var(--mat-sys-body-large);
}

.select {
   width: 120px;
   @include mat.form-field-density(-4);
}