<app-toolbar>About</app-toolbar>

<div fxLayout="row" fxLayoutAlign="center center">
  <mat-accordion fxFlex="0 1 800px">

    <app-about-item title="Introduction">
      <p> Orientering fixture browsing</p>    

      <p><b>Key features</b></p>

      <p>Fixture information</p>
      <ul>
        <li>Maps and grid/list view of events BOF fixtures</li>
        <li>Event location from grid references, postcode or google search on area</li>
        <li>OS maps on mobile and desktop</li>
        <li>Google maps and directions</li>
        <li>Routegadget maps for the area</li>
        <li>Add event to google calander</li>
      </ul>

      <p>User functionality</p>
      <ul>
        <li>Mark 'liked' events of interest</li>
        <li>Map reservation/entry for local events</li>
      </ul>

      <p>Search/Filtering</p>
      <ul>
        <li>Distance from home postcode for grades of event.</li>
        <li>Day of week</li>
        <li>User 'liked' events</li>
      </ul>
      
      <p>Application</p>
      <ul>
        <li>Optimised for desktop and mobile</li>
        <li>Fixture data avalaible offline</li>
      </ul>

      <p>In preparation</p>
      <ul>
        <li> Manually added events</li>
        <li> Support for event series league/multiday.</li>
      </ul>

    </app-about-item>

    <app-about-item title="Install as Application">
      <p>OFixtures may be installed as an application on the desktop on both mobile, tablet and desktop devices.
        Select instrictions below for installation instructions.</p>

      <mat-accordion>
        <app-about-item title="Laptop/desktop with Chrome">
          To install as an application on the desktp on either Mac or PC from Chrome select "Install OFixtures
          from Chrome's main menu"
        </app-about-item>

        <app-about-item title="Android mobile/tablet">
          TBC
        </app-about-item>

        <app-about-item title="Apple mobile/tablet">
          The support for progressive web applications is not mature as on Android devices.
          It is only recomented to install as an application if you are running iOS verson 13 or higher.
        </app-about-item>

        <app-about-item title="Laptop/desktop with Safari">
          TBC
        </app-about-item>

        <app-about-item title="Laptop/desktop  with Edge">
          TBC
        </app-about-item>

        <app-about-item title="PC with Firefox">
          TBC
        </app-about-item>

      </mat-accordion>

    </app-about-item>

    <app-about-item title="Acknowledgements">
      The fixture map is based on mp by Ollie O'Brien <a href="https://map.oobrien.com/">https://map.oobrien.com/</a>
      <br>
    </app-about-item>

    <app-about-item title="Privacy policy">
      Our privacy policy is documented <a routerLink="/about/privacy">here</a>
    </app-about-item>

    <app-about-item title="Contact details">
      Please mail <a href="support@ofixtures.org.uk">support@ofixtures.org.uk</a> with any comment problems or
      issues.
    </app-about-item>

    <app-about-item title="Development">
      Source code is located at <a href="https://github.com/daveryderoxford/ofixtures">Github</a>
      It runs on Firebase/Google Cloud.
      It make use of the following open source packages:
      <ul>
        <li>Leaflet is used for map display</li>
         <li>Angular development framework /li>
      </ul>
      It is written in Typescript.
    </app-about-item>

    <app-about-item title="Version">
      Version: {{ver.version}} <br>
      Revision: {{ver.revision}} <br>
      Branch: {{ver.branch}} <br>
    </app-about-item>

  </mat-accordion>

</div>