<app-toolbar>Privacy Policy</app-toolbar>

<h2>Who are we and what do we do?</h2>
Splistbrowser ("we", "our" and "us") is a trading name of Splistbrowser Ltd, a company registered in England and Wales,
registration number xxx Our address and contact details are at the bottom of this page. We provide event pre-entry.


<h2>Bullet Summary</h2>
We, as a Data Controller, recognise our responsibility to treat your personal information with the utmost care and to
comply with all relevant legislation, in particular the Data Protection Act 2018 and the EU General Data Protection
Regulation (GDPR).
<p>
We pass the personal data we collect on behalf of an event organiser or club to that event organiser or club so that
they can provide you with an event entry.
The event organiser or club, as Data Controllers in their own right, once in possession of your data, are subject to the
same legislation, and we ensure via our Terms and Conditions that they are aware of their key responsibilities.
The event organiser or club may in turn pass the necessary elements of your personal data to other bodies or services
providers, but only as necessary in order to provide you with the service on offer. E.g. to a timing company to provide
race timing or the sport's National Governing Body where there is a requirement for your membership details to be
logged.
</p>
<p>
All of your payment card details are held separately by our payment service provider Sage Pay and neither Fabian4, the
event organisers nor clubs have access to this data.
Basic elements of your personal data (e.g. Name, Gender and Age Class) are likely to appear on start lists, event
results and membership lists that are in the public domain.
We will not pass any of your personal data that is not necessary for the delivery of the event entry or membership
service to any third party without your explicit permission. We are confident that the data controllers with whom we
work will be compliant with the law in this respect too.
If you would like more details about the data we collect, how it is used, how it is secured, your statutory rights, and
more, then carry on reading. Please contact us if you have any questions.
</p>


<h2>The legal basis for processing your personal data</h2>
Legal Basis
Processing Legal basis
<p>
Event Entry - Processing your personal data necessary for an entry to an event, confirming your entry, and keeping you
informed of information relevant to the event. Contract - between you and the Event Organiser
Next Event - Informing you of the date and other details of the event if it is re-run at a future date. An unsubscribe
option will be provided. Legitimate interest of the Event Organiser
Membership - Processing your personal data necessary for membership to a club, confirming your membership, and keeping
you informed of club news, activities and benefits. Contract - between you and the Club
Renewal - Inviting you to renew your membership in the following year. An unsubscribe option will be provided.
Legitimate interest of the Club
Direct Marketing - Fabian4 may contact current and previous event organisers and clubs from time to time with relevant
news of new features, new services or other significant changes that we think would be of interest. An unsubscribe
option will be provided.
</p>
<p>
Reminders - We may also contact current and previous event organisers and clubs to remind you that it is the time of
year to start thinking about getting your next (annual) event or membership setup. Legitimate interest of Fabian4
Other uses and other (non-essential) third parties - Where the event organiser or club wishes to use your data for
purposes not necessary for the delivery of the event or club membership contract with you, then explicit consent will be
requested. E.g. To join a general newsletter for notification of other events or to pass your contact details to an
event sponsor. 
</p>

<h2>Consent</h2>
The definitions of the data we may collect from you
The definitions of the data sets described below are not exhaustive and may change over time.

Data Definitions
Term Definition
Name Data Forename and Surname
Public Personal Data Name Data, gender, club (if specified), country (default = GBR), ecard number and age category
(where relevant to the event).
Private Personal Data Date of birth or year of birth, affiliation status, national body membership number, full time
student status.
Contact Personal Data Contact phone numbers, postal address, email address.
Safety Related Data Emergency contact details (name and phone number), car registration.
Medical Data Medical conditions of which you wish the event organiser to be aware
Entry Data Public Personal Data + Private Personal Data + Contact Personal Data + Safety Related Data + Medical Data
Financial Data Payment card details
How we use your personal data
We only collect the subset of Entry Data which is relevant to the event or membership in question and pass this data to
the event organiser or club respectively.
Other personal data not covered by the Entry Data definition may only be collected and used with your explicit consent.
An event organiser may only use your Entry Data for purposes that relate directly to the event in question.
A club may only use your Entry Data for the purposes that relate directly to providing you with club membership.
The event organiser or club may pass elements of your Entry Data to third parties where necessary to provide you with
the service requested.
Your Public Personal Data may appear on event start lists, result lists and membership lists in the public domain (I.e.
on the web). Note that the event organiser or club controls whether such lists go public or not.
Elements of your Name Data and Contact Personal Data may be passed to other non-essential third parties with your
explicit consent.
Your Financial Data is managed by our Payment Service Provider, Sage Pay, and other than basic details such as the last
4 digits of your card number, none of this data is available to Fabian4, an event organiser or club. See the Sage Pay
Privacy Page for further details.
The event organiser, club or Fabian4 may contact you as part of the provision of the service requested or as part of
their legitimate interests as detailed in the Legal Basis section above.

Your rights
Your rights are detailed on the ICO website. You have 24/7 access to view your data via the competitor Amend Entry
function. You can amend incorrect data up until the data freeze date relevant to the event. If you wish to exercise any
of your rights which are not satisfied by the competitor Amend Entry function then please contact us.


Cookies
Cookies are small text files stored on your device (computer). They are only accessible by the website that created them
(Fabian4 in this case) and hence your privacy is assured. With your permission, a cookie will be used to store Contact
(step 1) and Competitor (step 2) profile data on your device, so that you can pass through these steps with 1 click when
entering future events. This cookie will automatically expire 12 months after its last use. Your browser must be able to
accept permanent cookies from www.fabian4.co.uk in order to make use of this feature.

If you would like to restore your step 1 and step 2 profile onto a particular device you can visit any previous
entry/membership and that will automatically populate your profiles with the data stored against that entry/membership.
This data will only remain visible for the current browser session. To permanently save the profile data on the device
you need to proceed past step 1 to save the Contact profile data to a cookie, and past step 2 to save the Competitor
profile data to a cookie.

If you wish to clear all session data and all Fabian4 cookies from your device select the Clear Cookies link in the
Support section on the home page.

A session cookie is used to manage your session. The session cookie is deleted when you close your browser, or when your
session times out after 20 minutes of inactivity. Your browser must be able to accept session cookies (temporary first
party cookies) in order for this site to function correctly.


Security
Your Entry Data at the time of entry and when viewed or amended later is protected by 256 bit encryption - see the
security certificate associated with the https URL from your web browser when viewing one of our secure pages (note -
not this one!).

Likewise, an event organiser or club only has access to the data relevant to their event or club membership with the
relevant GUID for that event or club membership.

Our servers, both internal and external are fully protected by secure passwords, firewalls and antivirus software.


Data Controller Liability
Fabian4, as a Data Controller is responsible for your Entry Data while in our possession. Sage Pay, as another Data
Controller, is responsible for your Financial Data. Once your Entry Data is exported or captured by the relevant event
organiser or club then they become responsible for your Entry Data as Data Controllers. All Data Controllers are subject
to the same Data Protection legislation, namely the Data Protection Act 2018 and the EU General Data Protection
Regulation (GDPR).


ICO Registration
Fabian Computers Ltd is registered with the Information Commissioner's Office under registration reference Z8516890.

