@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:host {
  @include mat.form-field-overrides((
      outlined-outline-width: 0px
    ));

  @include mat.button-overrides((
       text-horizontal-padding: 5px,
    ));
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

mat-form-field {
  width: 125px;
}