

@let ind = index();
@let img = src()[ind];
@let conf = config();

<div [appScreenfull]="fullscreen" class="img-container" [style.height]="styleHeight"
  [style.backgroundColor]="conf.containerBackgroundColor" (wheel)="scrollZoom($event)"
  (dragover)="onDragOver($event)">
  <img [src]="img" [ngStyle]="style" alt="Image not found..." (dragstart)="onDragStart($event)"
    (load)="onLoad(img)" (error)="imageNotFound(img)" (loadstart)="onLoadStart(img)" />
  <!-- Div below will be used to hide the 'ghost' image when dragging -->
  <div></div>
  @if (loading) {
    <div class="spinner-container">
      <div class="spinner"></div>
    </div>
  }

  <!-- Button Container -->
  <div class="btn-container" [class]="conf.btnContainerClass">
    <!-- Rotate Counter Clockwise -->
    @if (conf.btnShow.rotateCounterClockwise) {
      @if (conf.btnIcons.rotateCounterClockwise.classes) {
        <button type="button" [class]="conf.btnClass" (click)="rotateCounterClockwise()"
          >
          <span [class]="conf.btnIcons.rotateCounterClockwise.classes"></span>
        </button>
      }
      @if (conf.btnIcons.rotateCounterClockwise.text) {
        <a [class]="conf.btnClass"
          (click)="rotateCounterClockwise()">
          <span [class]="conf.btnSubClass">{{conf.btnIcons.rotateCounterClockwise.text}}</span>
        </a>
      }
    }

    <!-- Rotate Clockwise -->
    @if (conf.btnShow.rotateClockwise) {
      @if (conf.btnIcons.rotateClockwise.classes) {
        <button type="button" [class]="conf.btnClass" (click)="rotateClockwise()"
          >
          <span [class]="conf.btnIcons.rotateClockwise.classes"></span>
        </button>
      }
      @if (conf.btnIcons.rotateClockwise.text) {
        <a [class]="conf.btnClass" (click)="rotateClockwise()">
          <span [class]="conf.btnSubClass">{{conf.btnIcons.rotateClockwise.text}}</span>
        </a>
      }
    }

    <!-- Zoom Out -->
    @if (conf.btnShow.zoomOut) {
      @if (conf.btnIcons.zoomOut.classes) {
        <button type="button" [class]="conf.btnClass" (click)="zoomOut()">
          <span [class]="conf.btnIcons.zoomOut.classes"></span>
        </button>
      }
      @if (conf.btnIcons.zoomOut.text) {
        <a [class]="conf.btnClass" (click)="zoomOut()">
          <span [class]="conf.btnSubClass">{{conf.btnIcons.zoomOut.text}}</span>
        </a>
      }
    }

    <!-- Zoom In -->
    @if (conf.btnShow.zoomIn) {
      @if (conf.btnIcons.zoomIn.classes) {
        <button type="button" [class]="conf.btnClass" (click)="zoomIn()">
          <span [class]="conf.btnIcons.zoomIn.classes"></span>
        </button>
      }
      @if (conf.btnIcons.zoomIn.text) {
        <a [class]="conf.btnClass" (click)="zoomIn()">
          <span [class]="conf.btnSubClass">{{conf.btnIcons.zoomIn.text}}</span>
        </a>
      }
    }

    <!-- Fullscreen -->
    @if (conf.allowFullscreen) {
      @if (conf.btnIcons.fullscreen.classes) {
        <button type="button" [class]="conf.btnClass" (click)="toggleFullscreen()"
          >
          <span [class]="conf.btnIcons.fullscreen.classes"></span>
        </button>
      }
      @if (conf.btnIcons.fullscreen.text) {
        <a [class]="conf.btnClass" (click)="toggleFullscreen()">
          <span [class]="conf.btnSubClass">{{conf.btnIcons.fullscreen.text}}</span>
        </a>
      }
    }

    <!-- Reset -->
    @if (conf.btnShow.reset) {
      @if (conf.btnIcons.reset.classes) {
        <button type="button" [class]="conf.btnClass" (click)="reset()">
          <span [class]="conf.btnIcons.reset.classes"></span>
        </button>
      }
      @if (conf.btnIcons.reset.text) {
        <a [class]="conf.btnClass" (click)="reset()">
          <span [class]="conf.btnSubClass">{{conf.btnIcons.reset.text}}</span>
        </a>
      }
    }

    <!-- Custom Buttons -->
    @for (cBtn of conf.customBtns; track cBtn) {
      @if (cBtn.icon.classes) {
        <button type="button" [class]="conf.btnClass"
          (click)="fireCustomEvent(cBtn.name, ind)">
          @if (cBtn.icon.classes) {
            <span [class]="cBtn.icon.classes"></span>
          }
        </button>
      }
      @if (cBtn.icon.text) {
        @if (cBtn.icon.text) {
          <a [class]="conf.btnClass" (click)="fireCustomEvent(cBtn.name, ind)">
            <span [class]="conf.btnSubClass">{{cBtn.icon.text}}</span>
          </a>
        }
      }
    }
  </div>

  <!-- Prev / Next Nav Container -->
  @if (src.length > 1) {
    <div class="nav-button-container">
      @if (conf.btnShow.next) {
        <button type="button" [class]="conf.btnClass" (click)="prevImage($event)"
          [disabled]="ind === 0">
          @if (conf.btnIcons.prev.classes) {
            <span [class]="conf.btnIcons.prev.classes"></span>
          }
        </button>
      }
      @if (conf.btnIcons.prev.text) {
        <a [class]="conf.btnClass" (click)="prevImage($event)">
          <span [class]="conf.btnSubClass">{{conf.btnIcons.prev.text}}</span>
        </a>
      }
      @if (conf.btnShow.next) {
        <button type="button" [class]="conf.btnClass" (click)="nextImage($event)"
          [disabled]="ind === src.length - 1">
          @if (conf.btnIcons.next.classes) {
            <span [class]="conf.btnIcons.next.classes"></span>
          }
        </button>
      }
      @if (conf.btnIcons.next.text) {
        <a [class]="conf.btnClass" (click)="nextImage($event)">
          <span [class]="conf.btnSubClass">{{conf.btnIcons.next.text}}</span>
        </a>
      }
    </div>
  }
</div>