<div [appScreenfull]="fullscreen" class="img-container" [style.height]="styleHeight"
  [style.backgroundColor]="config.containerBackgroundColor" (wheel)="scrollZoom($event)"
  (dragover)="onDragOver($event)">
  <img [src]="src[index]" [ngStyle]="style" alt="Image not found..." (dragstart)="onDragStart($event)"
    (load)="onLoad(src[index])" (error)="imageNotFound(src[index])" (loadstart)="onLoadStart(src[index])" />
  <!-- Div below will be used to hide the 'ghost' image when dragging -->
  <div></div>
  @if (loading) {
    <div class="spinner-container">
      <div class="spinner"></div>
    </div>
  }

  <!-- Button Container -->
  <div class="btn-container" [class]="config.btnContainerClass">
    <!-- Rotate Counter Clockwise -->
    @if (config.btnShow.rotateCounterClockwise) {
      @if (config.btnIcons.rotateCounterClockwise.classes) {
        <button type="button" [class]="config.btnClass"
          (click)="rotateCounterClockwise()" >
          <span [class]="config.btnIcons.rotateCounterClockwise.classes"></span>
        </button>
      }
      @if (config.btnIcons.rotateCounterClockwise.text) {
        <a [class]="config.btnClass" (click)="rotateCounterClockwise()">
          <span [class]="config.btnSubClass">{{config.btnIcons.rotateCounterClockwise.text}}</span>
        </a>
      }
    }

    <!-- Rotate Clockwise -->
    @if (config.btnShow.rotateClockwise) {
      @if (config.btnIcons.rotateClockwise.classes) {
        <button type="button" [class]="config.btnClass"
          (click)="rotateClockwise()" >
          <span [class]="config.btnIcons.rotateClockwise.classes"></span>
        </button>
      }
      @if (config.btnIcons.rotateClockwise.text) {
        <a [class]="config.btnClass" (click)="rotateClockwise()">
          <span [class]="config.btnSubClass">{{config.btnIcons.rotateClockwise.text}}</span>
        </a>
      }
    }

    <!-- Zoom Out -->
    @if (config.btnShow.zoomOut) {
      @if (config.btnIcons.zoomOut.classes) {
        <button type="button" [class]="config.btnClass"
          (click)="zoomOut()" >
          <span [class]="config.btnIcons.zoomOut.classes"></span>
        </button>
      }
      @if (config.btnIcons.zoomOut.text) {
        <a [class]="config.btnClass" (click)="zoomOut()">
          <span [class]="config.btnSubClass">{{config.btnIcons.zoomOut.text}}</span>
        </a>
      }
    }

    <!-- Zoom In -->
    @if (config.btnShow.zoomIn) {
      @if (config.btnIcons.zoomIn.classes) {
        <button type="button" [class]="config.btnClass"
          (click)="zoomIn()" >
          <span [class]="config.btnIcons.zoomIn.classes"></span>
        </button>
      }
      @if (config.btnIcons.zoomIn.text) {
        <a [class]="config.btnClass" (click)="zoomIn()">
          <span [class]="config.btnSubClass">{{config.btnIcons.zoomIn.text}}</span>
        </a>
      }
    }

    <!-- Fullscreen -->
    @if (config.allowFullscreen) {
      @if (config.btnIcons.fullscreen.classes) {
        <button type="button" [class]="config.btnClass"
          (click)="toggleFullscreen()" >
          <span [class]="config.btnIcons.fullscreen.classes"></span>
        </button>
      }
      @if (config.btnIcons.fullscreen.text) {
        <a [class]="config.btnClass" (click)="toggleFullscreen()">
          <span [class]="config.btnSubClass">{{config.btnIcons.fullscreen.text}}</span>
        </a>
      }
    }

    <!-- Reset -->
    @if (config.btnShow.reset) {
      @if (config.btnIcons.reset.classes) {
        <button type="button" [class]="config.btnClass"
          (click)="reset()" >
          <span [class]="config.btnIcons.reset.classes"></span>
        </button>
      }
      @if (config.btnIcons.reset.text) {
        <a [class]="config.btnClass" (click)="reset()">
          <span [class]="config.btnSubClass">{{config.btnIcons.reset.text}}</span>
        </a>
      }
    }

    <!-- Custom Buttons -->
    @for (cBtn of config.customBtns; track cBtn) {
      @if (cBtn.icon.classes) {
        <button type="button" [class]="config.btnClass"
          (click)="fireCustomEvent(cBtn.name, index)">
          @if (cBtn.icon.classes) {
            <span [class]="cBtn.icon.classes"></span>
          }
        </button>
      }
      @if (cBtn.icon.text) {
        @if (cBtn.icon.text) {
          <a [class]="config.btnClass" (click)="fireCustomEvent(cBtn.name, index)">
            <span [class]="config.btnSubClass">{{cBtn.icon.text}}</span>
          </a>
        }
      }
    }
  </div>

  <!-- Prev / Next Nav Container -->
  @if (src.length > 1) {
    <div class="nav-button-container">
      @if (config.btnShow.next) {
        <button type="button" [class]="config.btnClass" (click)="prevImage($event)" [disabled]="index === 0">
          @if (config.btnIcons.prev.classes) {
            <span [class]="config.btnIcons.prev.classes"></span>
          }
        </button>
      }
      @if (config.btnIcons.prev.text) {
        <a [class]="config.btnClass" (click)="prevImage($event)">
          <span [class]="config.btnSubClass">{{config.btnIcons.prev.text}}</span>
        </a>
      }
      @if (config.btnShow.next) {
        <button type="button" [class]="config.btnClass" (click)="nextImage($event)"
          [disabled]="index === src.length - 1">
          @if (config.btnIcons.next.classes) {
            <span [class]="config.btnIcons.next.classes"></span>
          }
        </button>
      }
      @if (config.btnIcons.next.text) {
        <a [class]="config.btnClass" (click)="nextImage($event)">
          <span [class]="config.btnSubClass">{{config.btnIcons.next.text}}</span>
        </a>
      }
    </div>
  }
</div>