@use '@angular/material' as mat;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.accordion-container {
  background: var(--mat-sys-surface-container);
  margin-top: 20px;
  margin-bottom: 10px;
  overflow: auto;
}

.indent {
  text-indent: 20px;
}