<app-toolbar>Entry list</app-toolbar>

<br>

@if (!fixture) {
  <app-spinner #loading>Loading entriees</app-spinner>
} @else {
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-card>
      <mat-card-title>{{fixture.details!.name}}</mat-card-title>
      <mat-card-subtitle>{{fixture.details!.date | date}}</mat-card-subtitle>
      <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="15px">
          <mat-form-field>
            <input matInput (keyup)="setFilter($event)" placeholder="Filter">
            <mat-hint>Surname, First name, Club, or Class</mat-hint>
          </mat-form-field>
          @for (course of fixture.details?.courses; track course) {
          <div>
            @if (entriesForCourse(course).length > 0) {
            @if (entries.length>0) {
            <div>
              <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="15px" class="courseTitle">
                {{course.name}}
                <span fxFlex></span>
                @if (!course.distance || course.distance > 0) {
                <span> {{course.distance }}km </span>
                }
                @if (!course.climb || course.climb > 0) {
                <span> Climb {{course.climb}}m</span>
                }
              </div>
              <table mat-table [dataSource]="entries">
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <td mat-cell *matCellDef="let entry"> {{entry.id}} </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <td mat-cell *matCellDef="let entry"> {{entry.firstname + " " + entry.surname}} </td>
                </ng-container>
                <!-- Course Column -->
                <ng-container matColumnDef="course">
                  <td mat-cell *matCellDef="let entry"> {{entry.course}} </td>
                </ng-container>
                <!-- Club Column -->
                <ng-container matColumnDef="club">
                  <td mat-cell *matCellDef="let entry"> {{entry.club}} </td>
                </ng-container>
                <!-- Class Column -->
                <ng-container matColumnDef="class">
                  <td mat-cell *matCellDef="let entry"> {{entry.courseClass}} </td>
                </ng-container>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            }
            }
          </div>
          }
        </div>
      </mat-card-content>
    </mat-card>
  </div>
}
