.mat-column-id {
  width: 50px;
}

.mat-column-name {
  width: 150px;
}

.mat-column-course {
  width: 100px;
}

.mat-column-club {
  width: 70px;
}

.mat-column-class {
  width: 60px;
}

td.mat-mdc-cell {
 border-bottom: 0px;
 border-top: 0px;
}

tr.mat-mdc-row {
 height: 25px;
}

.courseTitle {
   font-weight: bold;
}
