<app-toolbar title="Map Reservation"/>

<!-- Put form in middle of page -->
<div fxLayout="row" fxLayoutAlign="center space-around">

  <mat-card>
    @if (form) {
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card-header>
          <mat-card-title>Map Reservation</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap=20px>
            <mat-divider></mat-divider>
            @if (fixture) {
              <p>
                <b>{{ fixture.club}} - {{fixture.date | date:'mediumDate' }} </b>
                <br> {{ fixture.name | ellipsis: 40 }}
                </p>
              }
              <button mat-flat-button type=button (click)="selectFixture()">Select Fixture</button>
              <mat-divider></mat-divider>
              <mat-form-field>
                <input matInput formControlName="closingDate" [min]="minDate" [matDatepicker]="picker"
                  placeholder="Closing Date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <div fxLayoutAlign="start space-around">
                Courses
                <span fxFlex></span>
                <button mat-stroked-button	type="button" (click)="addCourse()">
                  Add
                  <mat-icon [ngStyle]="{'color':'green'}">add_circle</mat-icon>
                </button>
              </div>
              <mat-chip-listbox #chipList class="mat-chip-list-stacked">
                @for (course of courses; track course; let i = $index) {
                  <mat-chip-option selected="true" selectable="true"
                    removable="true" class="accent" (removed)="removeCourse(course)" (click)="editCourse(course, i)">
                    {{course.name}}
                    <span fxFlex></span>
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip-option>
                }
              </mat-chip-listbox>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <button [disabled]="form.invalid || (!form.dirty && !coursesChanged) || busy" mat-flat-button
              type="submit">Save</button>
            </div>
          </mat-card-actions>
        </form>
      }

    </mat-card>
  </div>