  $z-index: 1000;
  
  .handset {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

.large-screen {
    width: 100%;
    height: 100%;
    overflow: none;
  }

  .relative {
    position: relative;
  }

 .top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000; // This is the same z order as the leaflet controls. 
  background: rgba(255, 255, 255, 1.0);
}

 .top-left {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000; // This is the same z order as the leaflet controls. 
  background: rgba(255, 255, 255, 0.8);
}

 .top-left-2 {
  position: absolute;
  top: 8px;
  left: 80px;
  z-index: 1000; // This is the same z order as the leaflet controls. 
  background: rgba(255, 255, 255, 0.8);
}

 .search-position {
   position: absolute;
    position: absolute;
    top: 175px;
    right: 10px;
   z-index: 1000; // This is the same z order as the leaflet controls. 
   background: rgba(255, 255, 255, 0.8);
 }

 .mobile-filter {
  margin-top: 15px;
  margin-bottom: 4px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
 }

 .spacer {
  flex: 1 1 auto;
 }

 .flex-1 {
  flex: 1 1 0%;
  min-height: 0;
 }

 .mobile-map-container {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  min-height: 0;
 }

 .selected-fixture-grid {
  flex: 0 0 96px;
 }

 .select-fixture-placeholder, .map-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .select-fixture-placeholder {
  flex: 0 0 30px;
 }

 .map-placeholder {
  flex: 1 1 0%;
 }
