<app-spinner [loading]="loading()"></app-spinner>

<mat-sidenav-container class="fullscreen">

  <mat-sidenav>

    <mat-action-list>
      <button mat-list-item (click)='showFixtures(false)'>Fixtures</button>

      @if (layout.handset()) {
      <button mat-list-item (click)='showFixtures(true)'>Fixtures
        Map</button>
      }

      <mat-divider></mat-divider>

      <app-league-menu (selected)="leagueSelected($event)"></app-league-menu>

      <mat-divider></mat-divider>
      
      <app-select-club [club]="routeState.club()" (selected)="clubSelected($event)"></app-select-club>

      <mat-divider></mat-divider>

      @if (afAuth.loggedIn()) {
      <button mat-list-item (click)='closeSidenav(["/user"])'>User settings</button>
      <button mat-list-item (click)='closeSidenav(["/auth/change-password"])'>Change password</button>
      <button mat-list-item (click)="logout()">Logout</button>
      } @else {
      <button mat-list-item (click)='closeSidenav(["/auth/login"])'>Login</button>
      }

      <mat-divider></mat-divider>
      <button mat-list-item (click)='closeSidenav(["/about"])'>About</button>
      <button mat-list-item (click)='contact()'>Contact</button>

      <button mat-list-item (click)='adminMenu()'>Admin</button>

    </mat-action-list>

  </mat-sidenav>

  <mat-sidenav-content class="fullscreen">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>