$mat-row-height: 38px;
$mat-row-horizontal-padding: 8px;


// Table elements styles

table {
  table-layout: fixed;
  border-spacing: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  min-width: 866px;
  overflow-x: auto;
}

tr {
  height: $mat-row-height;
  width: 100%;
}

th,
td {
  padding: 0;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(220, 220, 220);
  padding-left: $mat-row-horizontal-padding;
  padding-right: $mat-row-horizontal-padding;
  vertical-align: middle;
}

.text-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, .54);
}

td {
  font-size: 13px;
  color: rgba(0, 0, 0, .87);
}


// Individual column styles
.center {
  text-align: center;
}

.actions {
  width: 100px;
  max-width: 100px;
  min-width: 100px;
  padding-left: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.date {
  width: 100px;
  max-width: 100px;
  min-width: 100px;
}

.distance {
  width: 40px;
  max-width: 50px;
  min-width: 35px;
}

.name {
  width: 100%;
  max-width: 400px;
  min-width: 50px;
}

.club {
  width: 100px;
  max-width: 100px;
  min-width: 70px;
  overflow: hidden;
  white-space: nowrap;
}

.level {
  width: 30px;
  max-width: 50px;
  min-width: 20px;
}

.location {
  width: 100%;
  max-width: 300px;
  min-width: 50px;
}

.maps {
  width: 70px;
  max-width: 70px;
  min-width: 50px;
}

.omaps {
  width: 80px;
  max-width: 80px;
  min-width: 80px;
}

.admin {
  width: 30px;
  max-width: 30px;
  min-width: 30px;
}

mat-icon {
  color: rgb(180, 180, 180);
}

.red {
  color: red;
}

.green {
  color: rgb(0, 255, 0)
}

.black {
  color: black;
}

.selected {
  background: #90caf9;
}

.handset-icon-size {
  transform: scale(0.8);
}

.shaded {
  background-color: rgb(235, 235, 235);
}

.white {
  background-color: rgb(255, 255, 255);
}

.mat-link {
  color: blue;
}

.icon-display {
  transform: scale(0.55);
  color: rgb(30, 30, 30)
}