
$mat-row-height: 38px;
$mat-row-horizontal-padding: 8px;


// Table elements styles

table {
  table-layout: fixed;
  border-spacing: 0;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  width: 100%;
}

tr {
  height: $mat-row-height;
}

th, td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(220,220,220);
  padding-left: $mat-row-horizontal-padding;
  padding-right: $mat-row-horizontal-padding;
}

th {
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0,0,0,.54);
}

td {
  font-size: 13px;
  color: rgba(0,0,0,.87);
}


// Individual column styles
 .center {
  text-align: center;
}

.actions {
  width: 50px;
  max-width: 50px;
  min-width: 50px;
  padding-left: 10px;
}

.date {
  width: 100px;
  max-width: 100px;
  min-width: 100px;
}

.distance {
  width: 40px;
  max-width: 50px;
  min-width: 35px;
}

.name {
  width: 100px;
  max-width: 400px;
  min-width: 50px;
}

.club {
  width: 70px;
  max-width: 700px;
  min-width: 50px;
}

.level {
  width: 30px;
  max-width: 50px;
  min-width: 20px;
}

.location {
  width: 100px;
  max-width: 300px;
  min-width: 50px;
}

.maps {
  width: 50px;
  max-width: 50px;
  min-width: 50px;
}

.omaps {
  width: 50px;
  max-width: 50px;
  min-width: 50px;
}

.admin {
  width: 30px;
  max-width: 30px;
  min-width: 30px;
  padding-right: 5px;
}

mat-icon {
  color: rgb(180, 180, 180);
}

.red {
  color: red;
}

.green {
  color: rgb(0,255,0)
}

.black {
  color: black;
}


.selected {
  background: #90caf9 //  #E3F2FD; 
}

.handset-icon-size {
  transform: scale(0.8);
}

.shaded {
  background-color: rgb(235, 235, 235);
}

.mat-link {
  color: blue;
}

.icon-display {
  transform: scale(0.55);
  color: rgb(30, 30, 30)
}

mat-primary {
  &.mat-mdc-button-base {
    --mat-fab-foreground-color: #fff;
    --mdc-filled-button-label-text-color: #fff;
    --mdc-protected-button-label-text-color: #fff;
  }

  &.mat-mdc-fab,
  &.mat-mdc-mini-fab {
    --mat-icon-color: #fff;
  }
}


