<app-toolbar title="Event entry"/>

<app-form-container>

    @if (form) {
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card-content>
          <div fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap=15px>
            <div fxFlexLayout=row fxLayoutAlign="space-between" fxLayoutGap=20px>
              <mat-form-field fxFlex="calc(50%-20px)">
                <input matInput required formControlName="firstname" cdkFocusInitial placeholder="First Name">
              </mat-form-field>
              <mat-form-field fxFlex="calc(50%-20px)">
                <input matInput required formControlName="surname" placeholder="Last Names">
              </mat-form-field>
            </div>
            <mat-form-field>
              <input matInput formControlName="club" placeholder="Club">
              <mat-hint align="end">Between 2 and 10 characters</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Course</mat-label>
              <mat-select formControlName="course" #courseControl required>
                <mat-select-trigger> {{courseControl.value}} </mat-select-trigger>
                <mat-option>---</mat-option>
                @for (c of fixture.courses; track c) {
                  <mat-option [value]="c.name">
                    {{c.name}}
                    <span fxFlex></span>
                    @if (c.maxMaps) {
                      <span>{{c.maxMaps - c.reservedMaps}} maps left</span>
                    }
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <button [disabled]="form.invalid || (!form.dirty) || this.busy" mat-raised-button color=primary type="submit">Save</button>
            <span fxFlex></span>
            <button mat-button type="reset">CLEAR </button>
          </div>
        </mat-card-actions>
      </form>
    }

</app-form-container>