
@import 'styles.scss';

.fill-client-area {
  width: 100%;
  height: 100%;
  background: $gray-background-color;
}

.gray{
  background: $gray-background-color;
}

.error {
    color: $error-color;
}
