
@use 'styles.scss' as s;

.fill-client-area {
  width: 100%;
  height: 100%;
  background: s.$gray-background-color;
}

.gray{
  background: s.$gray-background-color;
}

.error {
    color: s.$error-color;
}
