<div scroll="none">
   <mat-toolbar>

      <button mat-button (click)="imageViewer.prevImage(null)" [disabled]="imageViewer.index === 0">
         <mat-icon>arrow_back</mat-icon>
      </button>

      <button mat-button [disabled]="imageViewer.index >= rgData.maps.length-1" (click)="imageViewer.nextImage(null)">
         <mat-icon>arrow_forward</mat-icon>
      </button>

      <span *ngIf="!handset">{{rgData.maps[imageViewer.index].name}}</span>

      <span fxFlex></span>

      <a [href]="routegadgetURL(imageViewer.index)" mat-stroked-button color="primary" target="_blank">Routegadget</a>

      <span fxFlex="20px"></span>

      <button mat-button (click)="location.back()">
         <mat-icon>close</mat-icon>
      </button>

   </mat-toolbar>

   <div>
      <div class="top-left" fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap=15px>

         <button mat-fab color=primary (click)="imageViewer.zoomIn()">
            <mat-icon>zoom_in</mat-icon>
         </button>

         <button mat-fab color=primary (click)="imageViewer.zoomOut()">
            <mat-icon>zoom_out</mat-icon>
         </button>

         <button mat-fab color=primary (click)="imageViewer.reset()">
            <mat-icon>crop_free</mat-icon>
         </button>

      </div>

      <angular-image-viewer #imageViewer [src]="images" [config]="config"></angular-image-viewer>
   </div>
</div>