<app-toolbar>Fixture Admin</app-toolbar>

<!-- Put form in middle of page -->
<div fxLayout="row" fxLayoutAlign="center space-around">

   <!-- layout elements vertically with  10px gaps-->
   <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap=10px>

      <mat-card class="admin-card">
         <mat-card-header>
            <mat-card-title>Additional fixtures</mat-card-title>
            <mat-card-subtitle>Add additional fixtures to the fixtures list</mat-card-subtitle>
         </mat-card-header>
         <mat-card-content>
            Under development - comming soon
         </mat-card-content>
      </mat-card>
      <br>

<!--             <mat-card class="admin-card">
               <mat-card-header>
      <mat-card-title>League/Multi-Day</mat-card-title>
      <mat-card-subtitle>Collections of fixtures. Either national/regional/club leagues of events (eg UKOL) or
         multiday
         events (eg White Rose)
      </mat-card-subtitle>
               </mat-card-header>
               <mat-card-content>
                  Under development - comming soon 
               </mat-card-content>
            </mat-card> -->

   <app-league-admin-card></app-league-admin-card> 
      <br>

      <mat-card class="admin-card">
         <mat-card-header>
            <mat-card-title>Map registration</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
         </mat-card-header>
         <mat-card-content>
            Under development - comming soon
         </mat-card-content>
      </mat-card>

   </div>
</div>