<app-toolbar>Fixture Admin</app-toolbar>

<!-- Put form in middle of page -->
<div fxLayout="row" fxLayoutAlign="center space-around">

   <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap=20px style="margin-top: 20px;">

      <app-fixture-admin-card/>

      <app-league-admin-card/>

      <mat-card appearance="outlined" class="admin-card">
         <mat-card-header>
            <mat-card-title>Map registration</mat-card-title>
         </mat-card-header>
         <mat-card-content>
            Under development - comming soon
         </mat-card-content>
      </mat-card>

   </div>
</div>