<app-toolbar>Fixture Admin</app-toolbar>

<!-- Put form in middle of page -->
<div fxLayout="row" fxLayoutAlign="center space-around">

   <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap=10px>

      <app-fixture-admin-card/>
      <br>

      <app-league-admin-card/>
      <br>

      <mat-card appearance="outlined" class="admin-card">
         <mat-card-header>
            <mat-card-title>Map registration</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
         </mat-card-header>
         <mat-card-content>
            Under development - comming soon
         </mat-card-content>
      </mat-card>

   </div>
</div>