
@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

@mixin clipped-container {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.clipped-container {
  @include clipped-container;
}

html {
  @include clipped-container;

  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: -1,
      use-system-variable: true,
      system-variables-prefix: sys,
    ));

  @include mat.toolbar-overrides((container-background-color: var(--mat-sys-primary-container),
      container-text-color: var(--mat-sys-primary),
    ));
}

body {
  @include clipped-container;
  background: var(--mat-sys-surface-container);
  color: var(--mat-sys-on-surface);
}

.dense-form-field {
  @include mat.form-field-density(-5);
}

.dense-list {
  @include mat.list-density(-5);
}

.sb-highzorder-dialog .mat-mdc-dialog-container {
  z-index: 10000;
  padding: 18x;
}
