<mat-accordion displayMode="flat">

   <mat-expansion-panel class="mat-elevation-z0" >
      <mat-expansion-panel-header>
         Multi-day
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
         <mat-action-list>
            <button mat-list-item class="menubutton" *ngFor="let l of (multiday$ | async)" (click)="selectLeague(l)">
               {{l.name}} - {{l.startDate | date:'yyyy'}}
            </button>
         </mat-action-list>
      </ng-template>
   </mat-expansion-panel>

   <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
         Leagues
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
         <mat-action-list>
            <button mat-list-item *ngFor="let l of (national$ | async)" (click)="selectLeague(l)">
               {{l.name}} - {{l.startDate | date:'yyyy'}}
            </button>
         </mat-action-list>
         <mat-divider></mat-divider>

         <mat-action-list>
            <button mat-list-item *ngFor="let l of (regional$ | async)" (click)="selectLeague(l)">
               {{l.name}} - {{l.startDate | date:'yyyy'}}
            </button>
         </mat-action-list>
         <mat-divider></mat-divider>

         <mat-action-list>
            <button mat-list-item *ngFor="let l of (club$ | async)" (click)="selectLeague(l)">
               {{l.name}} - {{l.startDate | date:'yyyy'}}
            </button>
         </mat-action-list>
      </ng-template>

   </mat-expansion-panel>
</mat-accordion>